.n{
    margin:0;
    padding: 0;
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    position: fixed;

   
}

.socialmedia ul {
  
    display: flex;
    gap: 30px;
    justify-content: flex-start;
   
    
}


li{
    list-style-type: none;
    
}
a{
    color: inherit;
    text-decoration: none;
}

nav{
    background-color: white;
    height: 69px;
    width: 100%;
    z-index: 3;
}
.nav-items{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-left:auto ;
    margin-right: auto;
    
}
.socialmedia{
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu{
    display: none;
    
}

.close{
    display: none;
}






@media (max-width:580px){

    .n{
        margin: 0;
        justify-content: space-between;
    }
    .nav-items{
        display: none;
    }

    .menu{
        display:block;
        margin-right: 20px;
    }
    .menu1{
        display:none;
    }
    .close{
        display: none;
    }
    .close1{
        display: block;
        padding: 0px 20px;
    }
}